<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @since         0.10.0
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */
$cakeDescription = 'CakePHP: the rapid development php framework';
?>
<!DOCTYPE html>
<html>
    <head>
        <?= $this->Html->charset() ?>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            <?= $cakeDescription ?>:
            <?= $this->fetch('title') ?>
        </title>
        <?= $this->Html->meta('icon') ?>

        <?= $this->Html->css('base.css') ?>
        <?= $this->Html->css('cake.css') ?>
        <?php echo $this->Html->script('jquery-3.1.1.js'); ?>
        <?= $this->fetch('meta') ?>
        <?= $this->fetch('css') ?>
        <?= $this->fetch('script') ?>
    </head>
    <body>
        <nav class="top-bar expanded" data-topbar role="navigation">
            <ul class="title-area large-3 medium-4 columns">
                <li class="name">
                    <h1><a href="<?php echo $this->Url->build([ "controller" => "Home", "action" => "index"]); ?>">Home</a></h1>
                </li>
            </ul>
            <div class="top-bar-section">
                <ul class="right">
                    <li><a href="<?php echo $this->Url->build([ "controller" => "Home", "action" => "index"]); ?>">Home</a></li>
                    <li><a href="<?php echo $this->Url->build([ "controller" => "Users", "action" => "index"]); ?>">Users</a></li>
                    <?php
                    if ($loggedIn) {
                        ?>
                        <li><a href="<?php echo $this->Url->build([ "controller" => "CompanyDevices", "action" => "index"]); ?>">Devices</a></li>
                        <li><a href="<?php echo $this->Url->build([ "controller" => "Users", "action" => "logout"]); ?>">Logout</a></li>
                        <?php
                    } else {
                        ?>
                        <li><a href="<?php echo $this->Url->build([ "controller" => "Users", "action" => "register"]); ?>">Register</a></li>
                        <li><a href="<?php echo $this->Url->build([ "controller" => "Users", "action" => "login"]); ?>">Login</a></li>
                        <?php
                    }
                    ?>
                </ul>
            </div>
        </nav>
        <?= $this->Flash->render() ?>
        <div class="container clearfix">
            <?= $this->fetch('content') ?>
        </div>
        <footer>
        </footer>
    </body>
</html>
