<div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav1">
        <a id="menu-toggle" href="javascript:void(0)" class="navtoggle"><span  class="menu-toggle-cust glyphicon glyphicon-align-justify"></span></a>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
        <?php
            $tenderApplicationArr = ['tenderApplications','tenderApplicationsList','tenderApplication'];
        ?>
        <li class="<?php echo ($this->request->params['controller'] == "Dashboard" && $this->request->params['action'] == "index") ? "active" : ""; ?>"><a href="<?php echo $this->Url->build([ "controller" => "Dashboard", "action" => "index"]); ?>">Dashboard<span class="sub_icon"><img src="<?php echo $this->Url->image('dashboard.png') ?>"></span></a></li>
        <li class="<?php echo $this->request->here == $this->Url->build([ "controller" => "Users","action" => "index"]) ? "active" : "";?>"><a href="<?php echo $this->Url->build([ "controller" => "Users","action" => "index"]); ?>">Users<span class="sub_icon"><img src="<?php echo $this->Url->image('om.png') ?>"/></span></a></li>
        <!--<li class="<?php //echo $this->request->here == $this->Url->build([ "controller" => "Users","action" => "pendingUsers"]) ? "active" : "";?>"><a href="<?php //echo $this->Url->build([ "controller" => "Users","action" => "pendingUsers"]); ?>">Pending Users<span class="sub_icon"><img src="<?php //echo $this->Url->image('om.png') ?>"/></span></a></li>-->
        <li class="<?php echo $this->request->here == $this->Url->build([ "controller" => "Users","action" => "mcgUsers"]) ? "active" : "";?>"><a href="<?php echo $this->Url->build([ "controller" => "Users","action" => "mcgUsers"]); ?>">MCF Users<span class="sub_icon"><img src="<?php echo $this->Url->image('om.png') ?>"/></span></a></li>
        <li class="<?php echo $this->request->here == $this->Url->build([ "controller" => "Users","action" => "add"]) ? "active" : "";?>"><a href="<?php echo $this->Url->build([ "controller" => "Users","action" => "add"]); ?>">Add MCF User<span class="sub_icon"><img src="<?php echo $this->Url->image('om.png') ?>"/></span></a></li>
        <li class="<?php echo $this->request->here == $this->Url->build([ "controller" => "Dashboard","action" => "applicationStatus"]) ? "active" : "";?>"><a href="<?php echo $this->Url->build([ "controller" => "Dashboard","action" => "applicationStatus"]); ?>">Application Status<span class="sub_icon"><img src="<?php echo $this->Url->image('om.png') ?>"/></span></a></li>
        <li class="<?php echo $this->request->params['controller'] == "Reports" ? "active" : ""; ?>"><a href="<?php echo $this->Url->build(["controller" => "Reports", "action" => "index"]); ?>">Reports<span class="sub_icon"><img src="<?php echo $this->Url->image('report.png') ?>"></span></a></li>
        <!--<li class="<?php // echo $this->request->here == $this->Url->build([ "controller" => "CompanyDevices","action" => "register"]) ? "active" : "";?>"><a href="<?php echo $this->Url->build([ "controller" => "CompanyDevices","action" => "register"]); ?>">Add Device<span class="sub_icon"><img src="<?php echo $this->Url->image('om.png') ?>"/></span></a></li>-->
<!--        <li class="<?php //echo ($this->request->params['controller'] == "Tenders" && !in_array($this->request->params['action'],$tenderApplicationArr)) ? "active" : "";?>"><a href="<?php //echo $this->Url->build([ "controller" => "Tenders","action" => "index"]); ?>">Tenders<span class="sub_icon"><img src="<?php //echo $this->Url->image('om.png') ?>"/></span></a></li>
        <li class="<?php //echo ($this->request->params['controller'] == "Tenders" && in_array($this->request->params['action'],$tenderApplicationArr)) ? "active" : "";?>"><a href="<?php //echo $this->Url->build([ "controller" => "Tenders","action" => "tenderApplications"]); ?>">Tender Applications<span class="sub_icon"><img src="<?php //echo $this->Url->image('om.png') ?>"/></span></a></li>
        <li class="<?php //echo $this->request->params['controller'] == "Documents" ? "active" : "";?>"><a href="<?php //echo $this->Url->build([ "controller" => "Documents","action" => "index"]); ?>">Documents<span class="sub_icon"><img src="<?php echo $this->Url->image('om.png') ?>"/></span></a></li>-->
    </ul>
</div>
