<h1>Hi <?php echo $user['display_name'];?></h1>
<p>Thank you for registration. You are one step behind to verify your email.</p>
<p>Please click <a href="<?php echo $url;?>">here</a> to proceed with verification process.</p>
<a href="<?php echo $url;?>"><?php echo $url;?></a>