<p>Hi <?php echo $user['display_name'];?></p>
<p>Your OMD application has been Rejected. Please check the attached letter for more Detail or Contact MCF Support.</p>
<p>Thank You</p>
<p>MCF Support</p>
