<b>Hi <?php echo $user->display_name; ?></b>
<br><br>
<p>Your account has not been approved by admin. You can register again, please click <a href="<?php echo $this->Url->build(['prefix' => false, "controller" => "Users", "action" => "login"], true); ?>">here</a> to regsiter.</p>

<br><br>
<i>Thank you</i>