/*//// Common Style ////*/

html, body { height: 100%; }
body { font-family: 'latoregular'; font-size: 14px; line-height: 1.45; color: #2e2e2e; font-weight: normal; background-color: #fff; height: 100%; }
.page-wrap { min-height: 100%; position: relative; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { line-height: 1.3; }
a:hover { text-decoration: none; }
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active { background: linear-gradient(to top, #0ecebf, #35dc9a); color: #ffffff; border-color: transparent; box-shadow: none; }
.btn { border-radius: 0px; border-width: 0px; box-shadow: none; font-size: 16px; padding: 10px; }
.container-out { padding: 16px 62px 222px; }
.cont-comn { border-top: 1px solid #c1c2c9; }
.cont-in { padding: 30px 25px 0px; }
.form-control { border-color: #e1e1e1; border-radius: 5px; box-shadow: none; font-size: 14px; height: 40px; line-height: 1; margin: 5px 0; padding: 5px 15px; }
.form-control:focus { border-color: #e1e1e1; box-shadow: none; }
 .form-control::-moz-placeholder {
 color: #a5a8af;
 opacity: 1;
}
label { display: inline-block; font-size: 14px; max-width: 100%; font-weight: 400; margin-bottom: 0px; }
.btn-empty { background: none; border: 1px solid #aaaaaa; color: #303131; }
.btn-default { background: #206595 !important; color: #fff !important; }

/*/ Top information  Style 
============================================*/

.plus-btn {
    background: rgb(150, 218, 173) none repeat scroll 0 0;
    border-radius: 2px;
    color: #333;
    /*font-size: 20px;*/
    /*font-weight: 900;*/
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    float: left;
}

.close-btn {
    background:#dc2315;
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    padding: 5px 7px;
    text-align: center;
    text-decoration: none;
}


.close-btn:hover,.close-btn:focus{text-decoration:none;color:#fff;}

.form-step1.form-steps table .form-control {
    float: left;
    width: 100%;
}
.cont-info { margin-top: 0px; background: #F18808; text-align: right; }
.cont-info p { /*color: #ffffff;*/
color: #fff; display: inline; font-size: 14px; margin: 0 0 0 5px; vertical-align: middle; }

.email-blk { display: inline; padding-right: 10px; }
.call-cont { display: inline; padding-right: 10px; }
.login { background: #252424; }
.login.btn { background: transparent; color: #ffffff; font-size: 14px; letter-spacing: 0; line-height: 21px; margin: 0; vertical-align: middle; height: 35px; padding: 7px 12px; }
.login:hover { background: #f4ac41; }
.btn > i { font-size: 14px; padding-right: 5px; }
/*/ Navigation Style 
============================================*/

.header { /*background: #3c3d41;*/
background: #fff; position: relative; z-index: 99; }
.header .navbar { border: none; margin: 0; height: auto; border-bottom: 1px solid #dddddd; }
.navbar-header .navbar-brand { height: auto; padding: 9px; margin-top: 0px; }
.header .navbar-nav { padding-bottom: 5px; padding-top: 5px; }
.header .navbar-nav > li { padding: 10px 16px; }
.header .navbar-nav > li > a { padding: 8px 10px; /*color: #fff;*/
color: #3c3d41; font-size: 16px; border-bottom: 2px solid transparent; }
.header .navbar-nav > li:hover a { background: transparent; /*color: #fff;*/
color: #F18808; border-bottom: 2px solid #F18808; }
.navbar-toggle .icon-bar { background-color: #000000; height: 2px; width: 30px; }
.header .navbar-collapse.collapse.pull-right { padding: 0; }
/*.header .navbar-nav > li:last-child a {
            padding-right: 0;
        }*/

.nav > li > a:focus, .nav > li > a:hover { background: transparent; }
/*/  Hero section Style 
============================================*/

.banner .carousel-inner img { width: 100%; }
.carousel-caption { background:#F18808 none repeat scroll 0 0; border: 8px solid rgba(174, 147, 255, 0.21); border-radius: 0px; bottom: inherit; margin: 0 auto; text-shadow: none; top: 20%; width: 668px; border: 8px solid rgba(117, 120, 119, 0.21); padding: 15px 0 15px 0; }
.carousel-caption h1 { font-size: 26px; /*color: #c2fbd9;*/ margin-top: 0px; line-height: 1; }
.carousel-caption h1 span { /*font-family: 'latobold';*/
display: block; font-size: 38px; padding-top: 10px; }
.carousel-caption p { font-size: 18px; color: #2e2e2e; font-family: 'latoregular'; padding: 0 55px; }
.get-std.btn { border-radius: 30px; font-size: 24px; padding: 5px 25px 8px; text-shadow: 1px 1px #461b00; }
.right-arw img { width: 31px !important; height: 19px !important; margin: 0 0 0 10px; }
/*/  News & Updates Style 
============================================*/

.news-strip { background: #782669; }
.news h2 { background: rgba(0, 0, 0, 0) url("../img/arw-news1.png") no-repeat scroll right 0 center; color: #93CEA6; float: left; font-family: "latobold"; font-size: 18px; margin: 0 5px 0 0; padding: 0 30px 0 0; }
.news { padding: 10px 30px; }
.news marquee { float: left; width: 90%; }
.news ul { display: inline; margin: 0; padding: 0; }
.news ul li { background: rgba(0, 0, 0, 0) url("../img/list-style1.png") no-repeat scroll left 0 center; display: inline; font-size: 16px; margin: 0; padding: 0 6px 0 18px; color: #fff; }
.news ul li:first-child { background: none; padding-left: 0; }
/*/  Before you apply- Left Section
============================================*/

.befor-apply { margin-bottom: 30px; padding: 30px 0 15px; }
.headh1 { margin-bottom: 2px; padding: 10px 0; }
.befor-apply h1 { color: #444443; font-size: 24px; margin: 0 0 10px; text-transform: uppercase; }
.content-wrap { margin: 40px 0 0 0; }
.cont-apply { background: #f1f1f2 none repeat scroll 0 0; padding: 0px 0px 15px; }
.cont-apply ul { margin: 0; padding: 0; }
.cont-apply ul li { background: #ffffff none repeat scroll 0 0; border: 1px solid #e8e8e8; display: inline-block; font-size: 16px; list-style-type: none; margin: 0 15px 0 0; color: #F0782C; text-align: center; width: 18%; padding: 15px 0; vertical-align: middle; min-height: 129px; }
.cont-apply ul li a { color: #782669; padding: 10px 0 0; display: block; }
.notice .headh1 { background: #782669; color: #fff; }
.notice .headh1 h1 { color: #fff; }
.notice .cont-apply ul li { background: rgba(0, 0, 0, 0) url("../img/square.png") no-repeat scroll left 0 top 5px; font-size: 14px; color: #6f7071; }
.cont-apply .new { background: #1abc9c none repeat scroll 0 0; border-radius: 2px; color: #ffffff; font-size: 11px; margin: 0 0 0 5px; padding: 1px 5px; }
a.more-notice { color: #782669; font-family: "latobold"; margin: 0 0 10px; text-align: right; }
.login-sec h1 { font-size: 24px; margin-bottom: 25px; margin-top: 0; text-align: center; }
.login-sec { border: 1px solid #dedede; border-radius: 5px; box-shadow: 0 5px 15px rgba(200, 200, 200, 0.5); margin: 50px auto 80px; padding: 45px; width: 560px; }
.login-sec .form-wrap { /*padding-right: 50px;*/
padding-bottom: 15px; }
.login-sec .btn { border-radius: 5px; display: block; font-size: 20px; margin: 0 auto; width: 278px; }
.forgtpwd { color: #782669; font-size: 14px; display: block; margin-top: 5px; text-align: center; }
a.forgtpwd:hover { color: #782669; }
.login-sec .checkbox { margin-bottom: 20px; }
.ortxt { background: #ffffff none repeat scroll 0 0; border-radius: 30px; color: #b0afaf; font-size: 17px; padding: 5px; position: absolute; right: -3px; top: 216px; }
.regist { padding-left: 50px; margin-bottom: 80px; width: auto; }
.regist textarea.form-control { height: 110px; padding-top: 15px; }
.regist label.amount { font-family: "latobold"; color: #782669; }
.termsc { font-size: 13px; color: #a5a8af; }
.orang { color: #F18808 !important; font-weight: normal; }
.darkgrey { color: #141414; font-family: "latobold"; }
select.form-control { color: #a5a8af; }
/*/  Right Section
============================================*/

.about-sec { margin-bottom: 25px; }
.about-sec h2 { font-size: 24px; margin: 0 0 10px; color: #444443; }
.about-sec p { color: #575758; font-size: 14px; line-height: 22px; }
/*** Updation ***/

.about-sec h3 { font-size: 16px; margin-top: 10px; color: #F18808; }
.online-services { padding-bottom: 25px; padding-top: 15px; }
/*/  Steps to apply Section
============================================*/

.steps-apply { padding: 0 15px; margin-bottom: 30px; }
.steps-head { border-bottom: 1px solid #d4d4d4; margin-bottom: 20px; }
.steps-head h3 { color: #f0782c; padding: 10px 0px; margin: 0; font-size: 20px; }
.step1 .thumbnail { background: none; text-align: center; border: none; margin-bottom: 3px; border: 1px solid #ddd; border-radius: 0; padding: 25px 20px 20px; }
/*.step1 .btn {
    font-size: 12px;
    padding: 4px 18px;
}
*/
.step1 .btn { background: #782669 none repeat scroll 0 0; border-color: #782669; border-radius: 0; color: #ffffff; font-size: 16px; padding: 4px 18px; }
.step1 p { color: #6f7071; }
.step1 .caption > h3 { font-size: 16px; margin-bottom: 5px; margin-top: 5px; }
.thumb-img { display: inline-block; height: 100%; vertical-align: middle; }
.contact p { color: #ccc; font-size: 20px; line-height: inherit; text-transform: lowercase; font-weight: normal; }
.step1 .btn:hover { background: #782669; border-color: #782669; color: #fff; }
.round-out { display: inline-block; height: 100%; padding: 4px; }
.map { border: 4px solid #dcdcdf; }
.mapvw { margin-bottom: 35px; }
.col-sm-4.step1 { padding: 0; }
/*/ Footer Section
============================================*/

footer { margin: 0 0 -205px; }
.footer { background: #262729; }
.foot-wrap { padding: 30px 0; }
.social { padding: 10px 0; text-align: center; }
.social ul { display: inline-block; padding: 0; text-align: center; }
.social li { background: #782669 none repeat scroll 0 0; border-radius: 30px; float: left; height: 43px; list-style-type: none; margin: 0 10px 0 0; text-align: center; width: 43px; }
.social li a { display: block; }
.social img { padding: 9px 0; }
.footer-nav { text-align: center; }
.footer-nav .nav li { display: inline; font-size: 16px; color: #ccc; }
.footer-nav .nav li a { color: #afafaf; display: inline; padding: 10px 30px; position: relative; }
.cpoyr { background: #3c3d41 none repeat scroll 0 0; padding: 10px 0; text-align: center; }
.cpoyr p { color: #a5a5a5; margin: 0; }
/*/ Dashboard Style
============================================*/

.dashboard { padding: 20px 40px; }
.dash-head { margin-bottom: 20px; }
.dash-head p { color: #F18808; font-size: 16px; margin: 0; }
.dash-head h1 { color: #3c3d41; font-size: 24px; margin: 0; }
.logo-nw { /*background: #313235 none repeat scroll 0 0;*/
background: #fff none repeat scroll 0 0; padding: 20px 30px; width: 315px; }
.dashboard-head { background: #f1f1f1; }
.sidebar-nav1 { position: relative; display: none; }
ul.sidebar-nav1 { margin: 0px; }
.menu-toggle-cust { left: 292px; position: absolute; top: -58px; }
.menu-toggle-cust.glyphicon { font-size: 24px; color: #F0782C; }
#wrapper { padding-left: 70px; transition: all .4s ease 0s; height: 100% }
#sidebar-wrapper { background: #3c3d41 none repeat scroll 0 0; bottom: 0; height: 100%; left: 70px; margin-left: -150px; padding-top: 90px; position: absolute; /*top: 20px;*/
transition: all 0.4s ease 0s; width: 315px; z-index: 9; }
.sidebar-nav { display: block; float: left; width: 100%; list-style: none; margin: 0; padding: 0; margin-top: 20px;}
#page-content-wrapper { padding-left: 0; margin-left: 0; width: 100%; height: auto; }
#wrapper.active { padding-left: 315px; }
#wrapper.active #sidebar-wrapper { left: 150px; }
#page-content-wrapper { width: 100%; }
#sidebar_menu li a, .sidebar-nav li a { color: #999; display: block; float: right; text-decoration: none; width: 100%; background: #3c3d41; border-top: 1px solid #373737; border-bottom: 1px solid #343539; -webkit-transition: background .5s; -moz-transition: background .5s; -o-transition: background .5s; -ms-transition: background .5s; transition: background .5s; padding-left: 0px; }
.sidebar_name { padding-top: 25px; color: #fff; opacity: .7; }
.sidebar-nav li { line-height: 40px; text-indent: 20px; }
.sidebar-nav li a { color: #e0dada; display: block; font-size: 16px; padding: 7px 0 7px 0px; text-decoration: none; }
.sidebar-nav li a:hover { color: #fff; background: #313235; text-decoration: none; cursor: pointer; }
.sidebar-nav li a:active, .sidebar-nav li a:focus { text-decoration: none; }
.sidebar-nav li.active a { color: #F18808; }
.sidebar-nav > .sidebar-brand { height: 65px; line-height: 60px; font-size: 18px; }
.sidebar-nav > .sidebar-brand a { color: #999999; }
.sidebar-nav > .sidebar-brand a:hover { color: #fff; background: none; }
#main_icon { float: right; padding-right: 65px; padding-top: 20px; }
.sub_icon { float: left; padding-right: 0; padding-top: 0; }
.content-header { height: 65px; line-height: 65px; }
.content-header h1 { margin: 0; margin-left: 20px; line-height: 65px; display: inline-block; }
.map-vw { border: 4px solid #dcdcdf; margin-bottom: 25px; }
.map-vw img { width: 100%; }
.city-status ul { border: 1px solid; border-radius: 6px; padding: 0; }
.city-status ul li { display: inline; list-style-type: none; }
.city-status ul li a { color: #3c3d41; display: inline-block; font-size: 16px; padding: 8px 25px; }
a.apprvd { background: #3c3d41; color: #fff !important; }
.city-status a.active { background: #3c3d41; color: #fff !important; }
.device-list { background: #f5f5f6 none repeat scroll 0 0; padding: 25px; margin-bottom: 40px; }
.city-status { margin-bottom: 15px; }
.device-list h2 { color: #3c3d41; font-size: 20px; margin: 0 0 20px; }
.table > thead > tr > th { border-bottom: 2px solid #dddddd; font-size: 14px; font-family: "latobold"; vertical-align: bottom; }
table { background-color: #ffffff; }
.thead-default th { background-color: #e6e4e4; color: #55595c; }
td, th { color: #3c3d41; font-size: 14px; padding: 0; }
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th { border-top: 1px solid #dddddd; line-height: 1.42857; padding: 8px 15px; vertical-align: top; }
.sts-pending { color: #e8925b; font-family: "latobold"; }
.sts-apprd { color: #569633; font-family: "latobold"; }
.sts-approved { color: #569633; font-family: "latobold"; }
.sts-rejected { color: #e74c3c; font-family: "latobold"; }
/********** header-2 navigation *****/

.vndr-profile ul li { display: inline-block; font-size: 18px; list-style-type: none; padding-right: 20px; vertical-align: middle; }
.prfl { }
.prfl span { background: #d8d7d7 none repeat scroll 0 0; border-radius: 30px; color: #aaaaaa; font-size: 20px; height: 51px; padding-top: 10px; text-align: center; width: 51px; }
.prfl > p { color: #414245; display: inline; font-size: 16px; margin: 0 0 0 8px; }
.vndr-profile { padding: 15px 40px 0; }
.notify .badge { background-color: #782669; border-radius: 15px; bottom: 13px; color: #ffffff; cursor: pointer; font-weight: normal; height: 18px; padding: 4px 0; position: relative; right: 10px; width: 18px; }
/******** company Registeration ******/

.headings-all { margin-bottom: 30px; }
.headings-all h1 { font-size: 24px; color: #F18808; }
.stepsblk ul { margin: 0; padding: 0 20%; }
.stepsblk ul li { background: #f1f1f1 none repeat scroll 0 0; list-style-type: none; margin: 0; padding: 20px 0 15px; text-align: center; width: 50%; cursor: pointer; float: left; position: relative; min-height: 155px; }
.step1-blk a > span { background: #3c3d41 none repeat scroll 0 0; border-radius: 74px; color: #ffffff; display: inline-block; font-size: 18px; height: 38px; padding: 6px 0; vertical-align: middle; width: 38px; }
.step1-blk a h2 { font-size: 20px; margin: 5px 0; color: #3c3d41; }
.step1-blk a p { line-height: 22px; margin: 0; color: #3c3d41; }
.stepsblk { margin-bottom: 40px; }
.stepsblk ul li.active > a::after { border-left: 14px solid rgba(0, 0, 0, 0); border-right: 14px solid rgba(0, 0, 0, 0); border-top: 14px solid #3c3d41; bottom: -14px; content: ""; left: 50%; margin-left: -15px; position: absolute; }
.stepsblk ul li.active { background: #3c3d41; }
.stepsblk ul li.active > a > span { background: #96daad none repeat scroll 0 0; }
.stepsblk ul li.active > a > h2 { color: #96daad; }
.stepsblk ul li.active > a > p { color: #f1f1f1; }
.regist-form { background: #f1f1f1 none repeat scroll 0 0; border-radius: 10px; margin: 0 6% 71px; padding: 20px 40px; }
.formh2 { color: #782669; font-size: 20px; margin-bottom: 25px; text-align: center; }
a.addmore { color: #141414; font-size: 14px; text-decoration: none; }
.panel-border { border-bottom: 1px solid #cccccc; padding: 10px 0 20px; }
.regist-form .panel-body { padding-left: 0px; padding-right: 0px; padding-bottom: 0px; }
.regist-form .termsc { color: #a5a8af; font-size: 14px; }
.regist-form textarea.form-control { height: 80px; padding: 10px 15px; }
.regist-form .btn { border-radius: 5px; display: block; font-size: 20px; margin: 25px auto; width: 278px; }
/************* Company Registeration Step2 *************/

.prevwfm { padding: 0 40px; }
.prevwfm { padding: 0 10%; }
.prevwfm span { color: #706e6e; font-size: 14px; }
.page-content { padding: 20px 50px 0px 40px;
    float:left;
    background: #fff; width:100% }
.app-status .regist-form { margin: 0 0 40px; padding: 20px 40px; }
.app-status .formh2 { color: #3c3d41; margin-top: 10px; margin-bottom: 20px; text-align: left; }
.app-status .btn { margin: 17px; }
.app-status .table { border: 1px solid #dcdcdf; }
.app-status .device-list { padding: 0; background: none; }
/************ Profile Management *********/

.regist-form.profile-manage { border-radius: 0; margin: 59px 100px; position: relative; text-align: center; padding: 20px 0 0; }
.profile-img { background: #d8d7d7 none repeat scroll 0 0; border-radius: 54px; display: inline-block; height: 85px; margin-bottom: 30px; margin-top: -58px; padding: 18px; vertical-align: middle; width: 85px; }
.profile-img .glyphicon.glyphicon-user { color: #ffffff; font-size: 35px; vertical-align: middle; }
.proftab { padding: 0 17% 0 18%; }
.proftab ul { margin: 0; padding: 0 }
.proftab ul li { background: #3c3d41 none repeat scroll 0 0; float: left; list-style-type: none; width: 50%; }
.proftab ul li a { color: #b2afaf; display: block; font-size: 16px; padding: 15px; }
.proftab ul li.active { background: #782669; }
.proftab ul li.active a { color: #fff; }
.changepwd { background: #ffffff none repeat scroll 0 0; margin: 0 2px 2px; padding: 49px 40px 5px; text-align: left; }
.changepwd form { margin: 0 auto; width: 500px; }
.submit { margin: 30px 0 40px; }
.submit .btn { margin: 0 auto; }
.compny-info form { width: 850px; }
.inner-pad { padding-left: 145px; }
.edit-info { color: #f0782c; font-size: 14px; cursor: pointer; }
.edit-info span { margin-right: 5px; }
/********** Reports ***********/

.reports ul { margin: 0; padding: 0; }
.reports ul li { list-style-type: none; margin: 20px 0 0; padding: 0; }
.reports .headings-all { margin-bottom: 15px; }
.reports ul li a { color: #3c3d41; font-size: 14px; font-family: "latobold"; }
.reports ul li .glyphicon { color: #782669; }
/********** Payment ***********/

.paymentpg .device-list { background: rgba(0, 0, 0, 0) none repeat scroll 0 0; padding: 0; }
.paymentpg .table { border: 1px solid #dcdcdf; }
.pendbtn.btn { font-size: 12px; padding: 2px 12px; border-radius: 2px; }
.h2class a { font-size: 20px; color: #782669; cursor: pointer; text-decoration: none; }
.gen-challan { border-bottom: 1px solid #cccccc; }
.gen-challan img { margin-left: 20px; }
.paymentpg .device-list { margin-bottom: 15px; }
.paymentpg .panel-body { padding: 0 0 20px; }
.pdf-dwn { margin: 20px 0 30px; position: relative; }
.pdf-dwn a { color: #fff; }
.pdf-dwn .btn { background: #c5301a none repeat scroll 0 0; border-radius: 4px; margin-left: 35px; padding: 10px 45px; }
.pdf-dwn .btn:hover { color: #fff; }
.pdf-dwn img { bottom: -2px; margin-left: 0; position: absolute; width: 60px; }
.up-challan { border: none; }
.up-challan .pdf-dwn { margin-top: 0; }
.up-challan .h2class { margin-top: 5px; }
.up-challan .btn { background: #77787c none repeat scroll 0 0; margin-left: 0; }
.up-challan .btn .glyphicon { right: 11px; top: 2px; }
/********** Contact Us ******/

.contct .form-wrap { border-right: none; padding-right: 0px; }
.contct textarea.form-control { height: 100px; padding-top: 12px; }
.contadd { padding: 90px 0 0 50px; }
.contadd ul { margin: 0; padding: 0; }
.contadd ul li { margin: 0; padding: 0; list-style-type: none; }
.contadd ul li .glyphicon { color: #f0782c; }
.pinline { color: #f0782c; display: inline; font-size: 15px; margin-left: 5px; }
/************* Device Registration *******/

.devic-reg .stepsblk ul li { width: 33%; border-right: 1px solid #d8d8d8; }
.devic-reg .stepsblk ul li:last-child { border-right: none; }
.radiobtn { margin: 5px 0; }
.radiobtn p { display: inline; margin: 0 5px 0 2px }
.fileup { margin: 5px 0; }
/************* MCG module *******/


/***Pending Device ***/

.custm-srch { padding-bottom: 15px; }
.custm-srch .input-group-btn > .btn { border-radius: 5px; background: #206595 none repeat scroll 0 0; border-bottom-left-radius: 0px; border-top-left-radius: 0px; padding: 9px 11px; top: 3px; color: #fff; }
.search-query.form-control { border-bottom-right-radius: 0px; border-top-right-radius: 0px }
.mcgform.regist-form { margin: 0; padding: 20px 20px 0; }
.mcgform .prevwfm { padding: 20px; }
.imgsite { }
.imgsite.formh2 { text-align: left; }
.siteimg > img { width: 100%; border-radius: 5px; }
.comt-blk textarea { height: 100px; padding-top: 15px; }
.mcgborder { border-bottom: 1px solid #ebebeb; padding-bottom: 10px; }
.ckeckI { display: inline-block; }
.ckeckI > input { float: left; }
.ckeckI p { float: left; padding-left: 5px; padding-right: 20px; }
.ckeckI label { padding-right: 15px; }
.ckeckI label input { margin-right: 5px; }
.reasonblk { margin: 10px 0 5px; }
.submit .btn { border-radius: 5px; font-size: 20px; margin: 0 auto; }
.approvd { width: 170px; }
.hld { width: 120px !important; background: #3C3D41!important; }
.radiobtn p { display: inline; margin: 0 5px 0 2px; }
.radioselect p { display: inline; margin: 0 5px 0 2px; }
/*.reasonblk label{margin-bottom: 5px;font-family: "latobold";}*/

.reasonblk b { display: block; }
/**** Resources block - Home page*****/

.resources { background: #F3F3F2; padding: 30px 0; }
/******* Message from ****/

.msg-from { background: #F18808; padding: 45px 0; }
.msg-from h2 { color: #ffffff; display: inline; padding-left: 10px; }
.msg-from .media .media-left > img { background: #ffffff none repeat scroll 0 0; border: 7px solid #F18808; border-radius: 50%; height: 160px; width: 160px; }
.msg-from h2 b { text-transform: uppercase; font-weight: normal; }
.msg-from .media-body { padding-left: 15px; color: #fff; }
.msg-from .media-body > p { font-size: 17px; padding: 20px 0 5px; }
.msg-from .media-body > span { /*color: #93cea6;*/ font-size: 16px; font-style: italic; }
.msg-from .media-body > span > b { font-weight: normal; font-family: latobold; }
.left-bar { background: #F1F1F2; }
.cont-apply ul li:hover { box-shadow: 0 0 26px #d3d3d3; }
/*** About us page style ****/
.about-pg { padding-bottom: 30px; }
.inn-head { font-size: 24px; margin-top: 0; }
.about-pg p { color: #575758 }
.about-outdoor { padding-bottom: 10px; margin-bottom: 35px; }
.about-outdoor h2 { color: #F18808; font-size: 24px; text-transform: uppercase; }
.about-outdoor p { color: #6f7071; }
.about-pg p b { color: #782669; }
/****** 15 june 2017 ******/

#map-canvas { margin: 15px 0; }
/*** Forgot Password style ****/

.forgot-password-pg { border: 1px solid #dedede; border-radius: 5px; box-shadow: 0 5px 15px rgba(200, 200, 200, 0.5); margin: 120px auto 80px; padding: 45px; width: 560px; }
.forgot-password-pg h1 { font-size: 24px; margin-bottom: 25px; margin-top: 0; text-align: center; }
.forgot-password-pg .btn { border-radius: 5px; display: block; font-size: 20px; margin: 0 auto; width: 278px; background: #782669; color: #fff; }
.forgot-password-pg .form-group { margin-bottom: 30px; }
.regist input[type="file"] { display: block; font-size: 12px; height: auto; padding: 8px 15px; }
.top-bar { background: #782669; }
.alert { background-color: #ccf7e3; border-radius: 0; }
.select2-container--default .select2-selection--multiple .select2-selection__rendered{    padding: 0px 8px 6px;}


.login-sec .btn.guestButton {
    margin: 0;
    width: 41%;
}
.login-sec .btn.guestButton#validateOtp {
    float: right;
}


#pendingInstallments {
    background: red;
    color: #fff;
    font-weight: bold;
    padding: 4px 9px;
    border-radius: 14px;
    position: relative;
    left: 8px;
}

/*** Style added by amnar 11 september 2018 ***/

.headerNew .cont-info{
background: #206595; }

.headerNew .helpdesk {
	background: #a81420;
	padding: 4px 9px;
	color: #fff;
	display: inline-block;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 1.1px;
	margin-top: 4px;}
.header.headerNew .navbar-nav.sMain-navbar > li a{color: #084d7e;}
.bannerNew .carousel-caption{background: rgba(47,65,78, 0.8); border:1px solid #767676;top:30%;}
.bannerNew .carousel-caption h1 span{
   font-size: 63px;
    color: #fff;
    font-family: 'camptonbold_demo';
    font-weight: bold;
    
}
.bannerNew .carousel-caption h1 span:nth-child(3){color: #e26806;}
.mcf-content-wrap{}
.mcf-content-wrap .about-outdoor .sImg-cont {
	border: none;
	padding: 0;
}
.mcf-content-wrap .about-outdoor p {
	font-size: 16px;
	line-height: 1.2;
	color: #2c2c2c;
    font-family: 'lato';
}

.mcf-content-wrap .about-outdoor h2 {
	font-size: 30px;
	color: #2c2c2c;
	font-family: 'camptonbold_demo';
	text-transform: capitalize;
	font-weight: normal;}

.mcf-content-wrap .owl-theme .owl-nav {
	margin-top: 0px;}

.links-cont{padding: 0px 25px;margin-top: 60px;margin-bottom: 30px;}

.mcf-content-wrap .owl-carousel .owl-nav button.owl-next, .mcf-content-wrap .owl-carousel .owl-nav button.owl-prev, .mcf-content-wrap .owl-carousel button.owl-dot {
	background: 0 0;
	color: inherit;
	border: none;
	padding: 0 !important;
	/* font: inherit; */
	font-size: 60px;
	position: absolute;
    color: #676767;}

.mcf-content-wrap .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
	font-size: 60px;
}

.mcf-content-wrap .owl-carousel .owl-nav .owl-next{
right: -41px;
top: 34px;
margin: 0px;
}
.mcf-content-wrap .owl-carousel .owl-nav .owl-prev{
left: -41px;
top: 34px;
margin: 0px;
}
.services-section{
  background:  rgba(0, 0, 0, 0) url("../img/our-services-bg.jpg") no-repeat scroll left 0 center;   
}
.pageheading1{
font-size: 30px;
color: #fff;
font-family: 'camptonbold_demo';
text-transform: capitalize;
font-weight: normal;
    text-align: center;
    position: relative;
    display: inline-block;
}
.services-section {
	padding: 3% 0px 6%;
}
.pageheading1::after {
	position: absolute;
	content: "";
	height: 2px;
	background-color: #fff;
	width: 119px;
	margin-left: 15px;
	top: 39px;
	left: 16px;
}
.serv-content-area {
	text-align: center;
	padding: 0 5%;
}
.serv-block {
	background: rgba(47,65,78, 0.8);
	padding: 55px 30px 30px;
	margin-top: 40px;
	border: 1px solid #767676;
	top: 30%;
}
.img-thumb {
	background: #fff;
	height: 155px;
	width: 155px;
	border-radius: 50%;
	display: table;
	border: 2px solid #e26806;
	/* padding: 10px; */
	box-shadow: 0px 0px 0px 11px #fff;
	text-align: center;
	margin: 0 auto;
}
.img-thumb:hover{
    background: #e26806;
    box-shadow: 0px 0px 0px 11px #e26806;
    border: 2px solid #fff;
}

.img-thumb span {
	background: url("../img/serv1.png") no-repeat scroll left 50px center;
	height: 46px;
	width: 52px;
	z-index: 999;
	display: table-cell;
	vertical-align: middle;
}
.img-thumb:hover span{background: url("../img/serv1.png") no-repeat scroll left -2px center;}
.proprty1{
    cursor: pointer;
    display: inline-block;
}
.proprty1 h4{
color: #fff;
font-size: 18px;
margin-top: 20px;
font-weight: 600;
font-family: 'latoregular'; 
}
.img-thumb.serv2 span {
background: url("../img/serv2.png") no-repeat scroll left 50px center; height: 46px;
	width: 52px; 
}
.img-thumb.serv2:hover span{
background: url("../img/serv2.png") no-repeat scroll left -2px center;  
}
.img-thumb.serv3 span{
background: url("../img/serv3.png") no-repeat scroll left 50px center; height: 46px;
width: 52px; 
}
.img-thumb.serv3:hover span{
background: url("../img/serv3.png") no-repeat scroll left -2px center;  
}
.img-thumb.serv4 span{
background: url("../img/serv4.png") no-repeat scroll left 50px center; height: 46px;
	width: 52px; 
}
.img-thumb.serv4:hover span{
background: url("../img/serv4.png") no-repeat scroll left -2px center;  
}
.resornew{
    background: #fff;padding-top: 55px; text-align: center;
}
.resornew .pageheading1{color: #161616;}

.resornew .pageheading1::after {
    background-color: #161616;left: 30%;width: 161px;
}
.zoom-btn {
	height: 251px;
	width: 251px;
	border-radius: 50%;
	background: #e26806;
	margin: 0 auto;
	display: table;
    background:#e26806 url("../img/zoom-icon-bg.png") no-repeat scroll center center;
	/* padding: 7% 0px; */
}
.flowchart-zoomvw {
	background: url("../img/flowbg.png") no-repeat scroll center center;
	text-align: center;
	padding: 15% 0px;
}

.zoom-btn a{
 display: table-cell; vertical-align: middle;
}
.viewbtn {
	color: #3d3d3d;
	font-size: 22px;
	text-align: center;
	display: block;
	margin-top: 8px;
    cursor: initial;
}
.contact-sect{
  background: url("../img/contact-background.jpg") no-repeat scroll center center; 
  text-align: center;
  padding: 3% 0 5%;
}
.contact-info {
	background: #292929;
	padding: 20px;
	border-radius: 5px;
    border-radius: 10px;
}
.sub-info{
    font-size: 28px;
    color: #fff;
    text-align: center;
}
.contact-info span {
	color: #fff;
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
}
.contact-info {
	background: #292929;
	padding: 50px 40px;
	border-radius: 5px;
	border-radius: 10px;
    text-align: left;
}
.contact-info span img {
	padding-right: 30px;
}
.contact-sect .pageheading1{
    margin-bottom: 40px;
}
.social-home a {
	display: inline-block;
	padding: 0 15px;
}
.social-home {
	padding-top: 20px;
    text-align: center;
}
.headerNew .login:hover{
background: #003C6C; 
}
/*
.header.headerNew  .navbar-nav.sMain-navbar > li:hover a{
    color: #e26806;
}
*/
.headerNew .dropdown-menu{
min-width: 188px;
top: 30px;
left: 0px;
}
.header.headerNew .navbar-nav.sMain-navbar > li a{
    margin: 0px;
}
.navbar-nav > li.open > .dropdown-menu{
    display: inline-table;
}
.headmast{
    background-color:#206595 !important;
}
.pagingPages li.active a{
    background: #206595 !important;
    color: #fff;
    border-color: #206595 !important;
}
.alert {
	background-color: #29A566;
	border-radius: 0;
	/* padding-top: 5px; */
	/* margin-top: 17px; */
	color: #fff;
}
.social-home a:hover img{
/*  background: url("../img/fb-social-hover.png") no-repeat scroll center center;*/
    z-index: 99
}
.zoomview button.close {
	position: absolute;
	right: 10px;
	top: 5px;
	color: #206595;
	font-size: 38px;
	z-index: 99;
	opacity: 1;
}
.zoomview .modal-dialog {
	width: auto;
	margin: 5% auto;
	
}


/*/ Media Section Style 
============================================*/

@media (max-width: 1370px) {
.carousel-caption { width: 575px; }
.carousel-caption h1 { font-size: 30px; }
.carousel-caption h1 span { font-size: 47px; }
.news marquee { width: 84%; }
.proftab { padding: 0 7%; }
.compny-info form { width: auto; }
.inner-pad { padding-left: 34px; }
.devic-reg .stepsblk ul { margin: 0; padding: 0 10%; }
.mcgform.regist-form .btn { width: 200px; }
}
 @media (max-width: 1200px) {
.prevwfm { padding: 0 5%; }
}


/* @media (max-width: 1199px) {
            .container-out {
                padding: 0 15px 15px;
            }
        }
        */

@media (max-width:767px) {
#wrapper { padding-left: 70px; transition: all .4s ease 0s; }
#sidebar-wrapper { left: 70px; }
#wrapper.active { padding-left: 150px; }
#wrapper.active #sidebar-wrapper { left: 150px; width: 150px; transition: all .4s ease 0s; }
}
@media (min-width: 992px) and (max-width:1199px) {
}
 @media (max-width: 991px) {
}
 @media (max-width: 767px) {
}
@media (max-width: 600px) {
.forgot-password-pg { width: 80%; }
}
 @media (max-width: 479px) {
}







/* 22-08-2018 */
 
.header .navbar-nav.sMain-navbar > li{padding: 0px;}
.header .navbar-nav.sMain-navbar > li a{color: #555555;border: none;line-height: 100%;padding: 6px 10px;margin-left: 15px;}
.header .navbar-nav.sMain-navbar > li a.sDownload-btn{color: #fff;background: #F18808;border-radius: 4px;}
.header .navbar-nav.sMain-navbar > li a.sDownload-btn:hover{background: #e68301;}
.header .navbar-nav.sMain-navbar > li:hover a{border: none;}
.m-t-20 {margin-top: 20px;}
.m-t-24 {margin-top: 24px;}
.cont-info img { vertical-align: top;margin-right: 5px;}
.header .navbar-nav.sMain-navbar > li.sReal-link a:hover {color: #F18808;}
.about-outdoor h2 {text-align: center;font-size: 28px;font-weight: 700;margin-bottom: 40px;}
.about-outdoor p {font-size: 18px;}
.about-outdoor .sImg-cont {border: 1px solid #cacaca;padding: 10px;}
.about-outdoor .sImg-cont img{width:100%;}
.about-sec.title-wrapper {text-align: center;margin-bottom: 40px;}
.about-sec.title-wrapper h2{color: #333333;font-size: 28px;font-weight: 700;}
.about-sec.title-wrapper h3{color: #f18808;font-size: 18px;font-weight: 400;}
.imp-links {background: #F3F3F2;padding: 30px 0;border-bottom: 1px solid #e5e5e5;}

.header .navbar-nav.sMain-navbar > li.sDownload-opts .dropdown-menu {margin-top: 30px;border-top: none;background: rgba(255,255,255,0.95);}
.header .navbar-nav.sMain-navbar > li.sDownload-opts .dropdown-menu a{margin-left: 0px;font-size: 16px;color: #F18808;padding: 14px 30px;}
.header .navbar-nav.sMain-navbar > li.sDownload-opts .dropdown-menu a:hover{background-color: #efefef;}
