#loaderLayout {
    float: left;
    position: absolute;
    width: 100%;
    z-index: 10000000;
}
#loaderLayout span {
    background: #000;
    float: left;
    opacity: 0.35;
    position: absolute;
    width: 100%;
}
#loaderLayout img {
    float: left;
    left: 50%;
    position: fixed;
    top: 40%;
    z-index: 12;
}
.error-message {
    color: red;
}
.deviceRow, .userRow {
    cursor: pointer;
}
.active-device {
    background: #dddddd;
}
.siteimg > a > img {
    border-radius: 5px;
    width: 100%;
}
.siteimg a.downloadDocument {
    float: left;
    text-align: center;
    width: 100%;
}
.siteimg a.downloadDocument i {
    color: #782669;
    font-size: 75px;
    margin: 9px 0 18px;
}
.pagingPages {
    float: right;
    list-style: none;
}
.pagingPages li {
    float: left;
}
.pagingPages li a {
    background: #F1F1F1;
    border: 1px solid;
    float: left;
    margin: 0 4px 0 0;
    padding: 3px 7px;
}
.pagingPages li.active a {
    background: #F0782C;
}

.tender-add-btn {
    border-radius: 5px;
}
.bidField {
    float: left;
    width: 33%;
}
.bidButton {
    border-radius: 5px;
    margin: 5px 0 0 17px;
    padding: 8px 20px;
}
#latestBid {
    color: #000;
    font-weight: bold;
    /*text-shadow: 1px 3px 2px #333;*/
}
.requiredDocs > label {
    float: left;
    width: 100%;
}
.requiredDocs  .docCheck {
    margin: 0 8px 0 0;
}
.countBlock {
    background: #f0782c;
    color: #fff;
    font-size: 27px;
    font-weight: bold;
    padding: 38px 0;
    text-align: center;
}
.countBlock:hover {
    background: #fff;
    color: #f0782c;
}
#countBlock a:active,
#countBlock a:hover, #countBlock a:focus {
    text-decoration: none;
}
.acceptedFormats {
    color: #f0782c;
    font-size: 13px;
}
.receiptDownload {
    background: #f0782c;
    color: #fff;
    float: right;
    margin: -60px 0 0;
    padding: 9px 21px;
}
.receiptDownload:active,
.receiptDownload:focus {
    color: #fff;
    text-decoration: none;
}
.receiptDownload:hover {
    color: #fff;
    box-shadow: 1px 0 8px 0 #000;
}
.swal2-container {
    overflow-y: auto !important;
}
.infoTool {
  background-color: #96daad;
  border-radius: 16px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin: 0 0 0 7px;
  padding: 0 7px;
}
.infoTool:hover {
    color: #fff;
}
.contact-links {
    color: #fff;
}
.contact-links:hover, .contact-links:active, .contact-links:focus {
    color: #fff;
}
.fileuploaded {
    background: #782669 none repeat scroll 0 0;
    border-radius: 10px;
    color: #fff;
    margin: 0 0 0 6px;
    padding: 3px;
}