<div class="page-content inset reports">
	<div class="headings-all dash-in">
	<h1>Reports</h1>
	</div>
	<p>Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermetum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim.Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a au.
	</p>
	<ul>
		<li><a href="#">OMD wise details <span class="glyphicon glyphicon-download pull-right"></span></a></li>
		 <li><a href="#">Pending OMD details <span class="glyphicon glyphicon-download pull-right"></span></a></li>
		 <li><a href="#">Approved OMD details<span class="glyphicon glyphicon-download pull-right"></span></a></li>
		<li><a href="#">Typology wise OMD applications by the vendor<span class="glyphicon glyphicon-download pull-right"></span></a></li>
	</ul>
</div>
