<p>Please do not refresh the page.</p>
<form method="post" name="redirect" action="<?php echo $url; ?>" id="payForm">
    <input type="hidden" name="encRequest" value="<?php echo $request;?>">
    <input type="hidden" name="access_code" value="<?php echo $accessCode;?>">
</form>
<script>
    $('#payForm').submit();
</script>