<p>Hi <?php echo $user['display_name'];?></p>
<p>Your OMD application has been approved. You are now requested to deposit permission fee within 7 days from the date of LOI to avoid cancellation.</p>
<p>Thank You</p>
<p>MCF Support</p>
