<b>Hi <?php echo $user->display_name; ?></b>
<br><br>
<p>Registration payment has been received. Now you can access complete dashboard</p>
<p>Please find the attachment of payment receipt</p>
<br><br>
<i>Thank you</i>
