<b>Hi <?php echo $user['display_name']; ?></b>
<br><br>
<p>MCF has request to upload some additional documents.</p>
<p>Your account is Hold. Login with your register email account to upload documents.</p>
<p>Documents: <?php echo implode(', ',$documents);?></p>
<br><br>
<i>Thank you</i>
